{% extends 'project/base.html' %}


{% block content %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ Title }}</title>
    </head>

    <style>
        body{
            background-image:url(https://imgurl.ir/uploads/x560879_image_2022_02_02T09_27_15_516Z_1.png);-->
            background-repeat: no-repeat;
            background-size:100% 100%;
            width:auto;
            height: auto;
        }
        .divcontent {
            text-align: justify;
            direction: rtl;
            margin : 15vh 15vh;
            font-size : 4vh;
            font: Bnazanin;
        }


    </style>
    <body>
        <p class="divcontent" >
            <br>
          امروزه با رشد سريع اطلاعات و داده ها، دسترسی ما به
            <br>
           داده های متنی مهم از میان انبوه داده های متنی پیچیده تر
            <br>
           شده است و همچنین با رشد روزافزون اطلاعات در
            <br>
          اينترنت، انتخاب اطلاعات مرتبط، کار سختی است. از
            <br>
          طرفی اطلاعات به طور همزمان روي بسياري از کانال هاي
            <br>
           رسانه اي با نسخه هاي متفاوت منتشر ميشود. اینجاست
            <br>
          که سیستم خلاصه سازی انلاین به عنوان یکی از مهمترین
            <br>
          راهکارهای مدیریت داده های متنی مطرح میشود. شاید
            <br>
           جالب باشد که بدانید اولین سامانه ی خلاصه ساز عمری
            <br>
           طولانی دارد و به دهه ی ۵۰ میلادی باز میگردد. در
            <br>
           خلاصه سازی آنلاین، هدف، فراهم کردن خلاصه اي از
            <br>
           محتويات مطابق با اطلاعات مورد نياز کاربر و در عین
            <br>
           حال حفظ نکات کلیدی و مهم در متن میباشد.
            <br>
        </p>
    </body>
</html>
{% endblock %}